body{
	background-color: #191919;
	margin: 0;
}
#flex{
	display: flex;
}
#searchBar{
	color: #c7ced6;
	position: relative;
	float: right;
	font-size: 20px;
	border-radius: 6px;
	background-color: #2b2b2b;
	width: 60%;
	margin-right:23%;
	height: 25px;
	border:0;
}
hr{
	display: block;
    height: 1px;
    margin: 2%;
    border: 0;
    border-top: 2px solid #3d3d3d;
    padding: 3px; 
}
div.WebName{
	margin-top: 3%;
	width: 25%;
	margin-left:2%;
	margin-bottom: 0%;	
}
div.WebName1{
	margin-top: -1%;
	width: 80%;
	margin-left:2%;
	margin-bottom: 0%;	
}
p.WebName{
	margin-top:2px;
	font-size: 20px;
	color: #858585;
}
h1.WebName{
	color: #cccccc;
	font-size: 45px;
	margin-bottom:0px;
}
#contact{
	color: #858585;
	width: 50%;
	margin-top: 5%;
	margin-left: 55%;
}
#search{
	color: #c7ced6;
	position: relative;
	float: right;
	font-size: 20px;
	border-radius: 6px;
	background-color: #2b2b2b;
	width: 60%;
	margin-right:25%;
	height: 25px;
}
div.menu{
	background-color: #2b2b2b;
	margin: 2%;
	border-radius: 5px;
	height: 1.5em;
	text-align: center;
	
}

div.menu a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	margin-left: 20px;
}
a.menu{
	font-size: 20px;
}
#sColor{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	width: 100%;
	height: 0.75em;
	background-color: #333333;
}
#slideshow{
	width: 100%;
}
#photos{
	margin: 2%;	height: 740px;
	background-image: url(images/img.jpg);
	background-size: cover;
	background-position: center;
	border:4px solid black;
}
#lButton{
	height: 80px;
	width: 40px;
	background-image: url(images/lArrow.png);
	background-size: cover;
	background-position: center;
	float: left;
	margin-top: 25%;
	background-image: 
}
#rButton{
	height: 80px;
	width: 40px;
	background-image: url(images/rArrow.png);
	background-size: cover;
	background-position: center;
	float: right;
	margin-top: 25%;
}
#dots{
	position: relative;
	left: 45%;
	width: 10%;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
} 
#intro{
	margin: 4%;
	display: flex;
	height: auto;
}
#recentWork{
	width: 49.5%;
	height: auto;
}
#fServices{
margin-left: 0%;
	width: 49.5%;
}
.header{
	text-align: center;
	position: relative;
	top: -5%;
	width: 100%;
	height: 60px;
}
p.header{
	color: #cccccc;
	font-size: 50px;
}

#inlining{
	display: flex;
}
#left{
	text-align: center;
	color:#ff9900;
	margin-left: 7%;
	background-color: #292929;
	border:20px solid #333333;
	margin-top: 3%;
	margin-bottom: 3%;
	width: 230px;
	border-radius: 50%;
	height:230px;
	
}
footer{
	margin:2%;
}
#adtext{
	margin:0;
	font-size: 30px;
	margin-left: 3%;
}
#ad{
	display: flex;
	margin:2%;
	height: 100px;
	background-color:#333333;
	color: #e6e6e6;
	border-radius: 7px;
}
#pad{
	margin
}
div.contactUs{
	text-align: center;
	margin-right: 3%;
	margin-top: 1.5%;
	width: 30%;
	height: 60px;
	background-color: #ff9900;
	border-radius: 6px;
}
p.contactUs{
	margin-top: 3.5%;
	font-size: 30px;
}